<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2><i class="fa fa-handshake-o"></i> Desafio</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class = "row">
    <div class = "col-lg-8 col-lg-offset-2 col-xs-12">
      <div class = "ibox float-e-margins">
        <div class = "ibox-content">
          <div class="challenge__body">
            <div class="challenge__item">
              <div class="item-group">
                <label class="challenge__item-description">Que tal explicar para o seu líder o motivo de você estar desafiando ele?</label>
                <textarea class="form-control js-description" rows="5" placeholder="Descrição" style="resize:none"></textarea>
              </div>
            </div>
            <div class="challenge__item">
              <label class="challenge__item-description">Em quais habilidades você aceita o desafio?</label>
              <div class="input-group">
                <div class="dropdown js-skill-dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Habilidade
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu scrollable-menu">
                    <% for skill in @skills %>
                      <li><a href="#" data-id="<%= skill[:id] %>" data-skill="<%= skill[:skill] %>"><%= skill[:skill] %></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="challenge__items-area">
                <div class="challenge__item-area-element js-challenge__skill-area">
                  <% for skill in @selectedSkills %>
                    <%= "##{skill}; " %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="challenge__item">
              <label class="challenge__item-description">Quais usuários você gostaria de desafiar?</label>
              <div class="input-group">
                <div class="dropdown js-user-dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Usuário
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu scrollable-menu">
                    <% for user in @users %>
                      <li><a href="#" data-id="<%= user[:id] %>" data-user="<%= user[:user] %>"><%= user[:user] %></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="challenge__items-area">
                <div class="challenge__item-area-element js-challenge__user-area">
                  <% for user in @selectedUsers %>
                    <%= "@#{user}; " %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="challenge__submit js-submit">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
  </style>
