<div class="skills">
  <% for skill in skills %>
    <div class="skills__component">
      <%= render "components/progress-bar/progress-bar", percentage: skill[:percentage], skill_name: skill[:name] %>

      <div class="skills-list">
        <% for el in skill[:list] %>
          <div class="skills-xablau">
            <%= label_tag nil, class: 'skills-label' do %>
              <%= el[:name] %>
            <% end %>
            <%= label_tag nil, class: 'skills-grade' do %>
              <%= "#{el[:grade]} (peso #{el[:weight]})" %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <% end %>
</div>
