<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Perfil<span class="pull-right"><i class="fa fa-user"></i><span></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class = "row">
    <div class = "col-lg-8 col-lg-offset-2 col-xs-12">
      <div class = "ibox float-e-margins">
        <div class = "ibox-content">
          <div class="profile__info">
            <div class="profile__info--left">
              <div class="profile__avatar">
                <img src="<%= @profile[:avatar] %>" alt="avatar" class="profile__avatar-image">
              </div>
              <div class="profile__personal-info">
                <p><%= @profile[:name] %></p>
                <p><%= @profile[:job] %></p>
              </div>
            </div>
            <div class="profile__info--right">
              <div class="profile__info-level">
                <p><%= @profile[:level] %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "ibox float-e-margins">
        <div class = "ibox-title">
          <h5>Competências</h5>
        </div>
        <div class = "ibox-content">
          <div class="profile__skills">
            <div class="profile__skills-wrap">
              <%= render "components/skills/skills", skills: @profile[:skills] %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
